:root {
   --default-pink: rgb(255, 3, 108);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   background: no-repeat center/100% url(../assets/heart-background.jpg);
   background-color: #fac6ec;
   /* background-image: url(../assets/heart-background.jpg);
   background-position: center;
   background-size: contain;
   background-repeat: repeat; */
   backdrop-filter: blur(7px);
   color: var(--default-pink);
   display: flex;
   flex-direction: column;
   height: 100vh;
   gap: 3rem;
   justify-content: center;
   align-items: center;
}

button {
   font-size: 1rem;
   border-radius: 24px;
   color: whitesmoke;
   background-color: #56021F;
   border: none;
   cursor: pointer;
}

.timer-options {
   display: flex;
   gap: 2rem;
}

.timer-option-container {
   display: flex;
   justify-content: center;
}

.timer-option {
   font-size: 1rem;
   transition: all 0.345s;
   padding: 0.5rem 1rem;
   overflow: hidden;
}

.timer-container {
   font-size: clamp(5rem, -1rem + 8.333vw, 10rem);
}

.pomodoro-actions {
   display: flex;
   flex-wrap: wrap;
   width: auto;
   gap: 10px;
   justify-content: center;
}

.pomodoro-action {
   padding: 0.3rem 0.75rem;
   transition: all 0.145s;
}

.timer-option:hover,
.is-option-toggled {
   color: rgb(255, 255, 255);
   border: var(--default-pink);
   background-color: var(--default-pink);
   transition: all 0.345s;
}

.tst-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.tst-container > p {
   text-align: center;
   font-size: 1.75rem;
}

#total-study-time {
   font-weight: bold;
}

@media (max-width: 768px) {
   .timer-option {
      padding: 0.35rem 0.45rem;
   }

   .tst-container > p {
      font-size: 4vw;
   }

   body {
      background-image: url(../assets/heart-background-portrait.png);
      background-position: center;
   }
}
