* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   background-color: #BE5985;
   color: whitesmoke;
   display: flex;
   flex-direction: column;
   height: 100vh;
   gap: 3rem;
   justify-content: center;
   align-items: center;
}

button {
   font-size: 1rem;
   border-radius: 12px;
   color: #FFEDFA;
   border: none;
   cursor: pointer;
}

.timer-options {
   display: flex;
   width: auto;
}

.timer-option-container {
   display: flex;
   justify-content: center;
   width: 7rem;
}

.timer-option {
   padding: 0.5rem;
   background-color: #AC1754;
}

.timer-container {
   font-size: 10rem;
}

.pomodoro-action {
   padding: 0.3rem 0.75rem;
   background-color: #56021F;
}
